#drink-section img {
    width: 10%;
    height: auto;
}

body {
    background-color: black;
    font-family: 'Shippori Mincho B1', serif;
}

p {
    color: white;
}

h5 {
    color: white;
}

div {
    color: white;
}

#description {
  background-color: #900;
  color: black;
  border-radius: 20px;
}
.card {
    background-color: black;
    color: white;
}

.header {
    background-color: black;
}

.card-body {
    padding: 0;
}

.saveFeedback {
    color: green;
    font-style: italic;
}

.btn-custom {
  background-color: #900;
  color: black;
  border: #900;
  border-radius: 0;
}

.img-custom {
  height: 300px;
  width: 300px;
}

<<<<<<< HEAD
.findError {
    color: red;
    font-style: italic;
}
=======
>>>>>>> fd7768710848bb7a42a5a1edc0f6b786b7ce051c

/* .fade-out-save {
    color: green;
    font-style: italic;
    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
}

.fade-out-load {
    color: green;
    font-style: italic;
    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
} */