

body {
    background-color: #c7abe1;
    font-family: 'Shippori Mincho B1', serif;
}

.heading-custom {
    color: #24383c;
}

p {
    color: #dfcebc;
}

h5 {
    color: #24383c;
}

div {
    color: #24383c;
}



#description {
    background-color: #24383c;
    color: #c7abe1;
    border-radius: 0px;
}
.card {
    background-color: #c7abe1;
    color: #f5f3eb;
    border: none;
}

.card-title-custom {
    color: #24383c;
}

.header {
    background-color: #c7abe1;;
}

.card-body {
    padding: 0;

}

.saveFeedback {
    color: #24383c;
    font-style: italic;
}

.btn-custom {
    background-color: #24383c;
    color: #f5f3eb;
    border: #24383c;
    border-radius: 0;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
    background-color: #24383c;
    color: #f5f3eb;
    border: #24383c;
    border-radius: 0;
}

.img-custom {
    height: 300px;
    width: 300px;
}